<h1>About</h1>
{# No species-specific branch here on purpose. This shared page previously
   hardcoded Dog Aging Project text for every dog dataset, which was wrong for any
   other dog study served from this codebase. A dataset that wants its own wording
   supplies custom_templates/about/content.html in its data dir -- server.py puts
   that directory first on the Jinja search path, so it overrides this file. #}
<p>This {{ config.SPECIES_SITE_TITLE }} website shares the results of genome-wide
association studies (GWAS) performed against the {{ config.SPECIES_DISPLAY_NAME }}
dataset, extending the existing PheWeb software for use in {{ config.SPECIES }}:</p>

<b>Gagliano Taliun, S.A., VandeHaar, P. et al. Exploring and visualizing large-scale genetic associations by using PheWeb. Nat Genet 52, 550–552 (2020). </b>

<p>Source code for PheWeb can be found <a href="https://github.com/statgen/pheweb/">here</a> version {{ config.PHEWEB_VERSION }}.</p>
<p>The non-human PheWeb fork powering this site is hosted <a href="https://github.com/karlssonlab/darwins_ark_nonhuman_pheweb">on github</a>.</p>
<br>
<p>All positions are from Reference <a href="https://genome.ucsc.edu/cgi-bin/hgGateway?db={{ config.SPECIES_UCSC_DB }}">{{ config.SPECIES_ASSEMBLY_LABEL }}</a></p>
